.container {
    text-align: center;
}
.wrapper-hw6 {
    text-align: center;
    margin: auto;
    padding: 20px;
    cursor: pointer;
}
.button-hw6 {
    position: relative;
}
.input-hw6 {
    padding: 5px 60px;
    background-color: #49105b;
    border: solid 2px white;
    border-radius: 20px;
    outline: none;
    color: white;
}
