.container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 1px solid blueviolet;
    border-radius: 10px;
}
.mySpan {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 23px;
    padding: 5px 10px;
    color: white;
    background-color: black;
}
.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-family: "Comfortaa", cursive;
    color: red;
}
.clock .text {
    font-size: 15px;
    color: black;
    margin-top: -20px;
}
