.header {
    background-color: olivedrab;
    color: black;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 3px 5px green;
    transform: translate(-1500px);
    margin: auto;
}
.header:hover {
    transition-duration: 700ms;
    transform: translate(0px);
}
.links {
    margin-right: 10px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.links:hover{
    color: blue;
    background: orangered;
    border: 2px solid red;
    border-radius: 15px;
}
.active {
    color: #000;
    font-weight: bold;
}